body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.row {
  margin: 0 !important;
}
form {
  max-width: 370px;
}
.error {
  position: absolute !important;
  top: 48px !important;
  background: transparent !important;
  color: red !important;
}
.error ::after {
  background: transparent;
}
.hide {
  padding: 0;
  margin: 0;
  height: 0;
  width: 0;
  outline: 0;
  border: none;
}
h1 span,
h2 span,
h3 span {
  color: #917602;
}
.navbar .btn {
  width: 242px;
  height: 41px;
}
.btn {
  border-radius: 10px !important;
  background-color: #917602 !important;
  color: #ffff !important;
}
.nav-line {
  width: 100vw;
  height: 24px;
  top: 122px;
  background-color: #917602;
}

.first-column {
  background-color: #1e1e1e;
  color: #ffff;
  display: flex;
  flex-direction: column;
  padding: 10px !important;
  gap: 10px;
}
.first-column h1 {
  max-width: 442px;
}

.first-column p {
  max-width: 433px;
}

.second-column {
  background-image: url(/media/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
input,
select {
  max-width: 370px;
}
select {
  font-size: 1rem !important;
}
.about-dentx,
.contact-dentx {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 86px;
}
.about-dentx h2,
.about-dentx p {
  max-width: 794px;
}
.about-dentx .btn {
  width: 100%;
  max-width: 300px;
}
.about-dentx .nav-line {
  height: 9px;
  width: 100%;
  max-width: 650px;
}
.contact-column {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
  padding: 16px 86px;
}

.contact-column .first,
.contact-column .sec {
  width: 100%;
}

@media screen and (max-width: 422px) {
  .contact-column {
    flex-wrap: wrap;
  }
}

.dentist {
  position: absolute;
  height: 653px;
  left: 774px;
  top: 422px;
}

@media screen and (max-width: 941px) {
  .dentist {
    display: none;
  }
}
@media screen and (max-width: 941px) {
  .dentist {
    left: 508px !important;
  }
}
@media screen and (max-width: 760px) {
  .contact-column {
    flex-direction: column;
  }
}
@media screen and (max-width: 484px) {
  .about-dentx,
  .contact-dentx {
    padding: 20px 20px !important;
  }

  .contact-column {
    padding: 16px 20px !important;
  }
}

body p,
label,
li,
a {
  font-family: "Amiko", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Amiko", sans-serif;
  font-weight: 700;
  font-style: normal;
}
